{% extends "base.html" %}

{% block title %} About - About Us {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>About Page</title>
</head>
<body>
    <header>
        <h1 id="mainhead" id="title">Flask Website About Page</h1>
    </header>
    <main>
        <h2 id="mainhead">This is the "About Page"</h2>
        <p class="maintext"> want information about this website? Well here it is.
            <br>
            This website is a prectice assigment given to develop skills on python and understanding the functions and code of it.
        </p>
    </main>
</body>
</html>


{% endblock %}