<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Flower Shop{% endblock %}</title>

    <!-- Linking fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:wdth,wght@112.5,520&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1 id="mainhead" id="title">Online Flower Shop</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{url_for('about') }}">About</a>
            <a href="{{url_for('invoice') }}">Invoice</a>
            <a href="{{url_for('order_history') }}">Order History</a>

        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Flower Shop</p>
    </footer>
</body>
</html>