<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
</head>
<body>
        <h1> Displaying JSON flower data</h1>
        <ul>  
            {% for flower_name, details in flower.items() %}
              <li> {{ flower_name }} - $ {{details['price']}} (stock: {{details['stock'] }}) </li>  
            {% endfor %}
        </ul>

        <h1> Add-ons available</h1>
        <ul>
            {% for addon_name, details in addon.items() %}
            <li> {{ addon_name }} - $ {{details['cost']}} </li>
            {% endfor %}
        </ul>

        <h1> Displaying JSON flower data</h1>
        <form action="{{ url_for('add_to_cart')}}" method="POST">
            <fieldset>
                <legend for="flower"> Select Flowers</legend>
                <select name="flower" id="flower">
                    {% for flower, details in flower.items() %}
                    <option value="{{ flower }}">{{ flower }} - $ {{ details['price'] }} </option>
                    {% endfor %}
                </select>
                <label for="quantity"> Quantity </label>
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit"> Add to cart </button>
            </fieldset>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2> Your Cart</h2>
        {% if cart %}
            <ul>
                {% for item, details in cart.items() %}
                    <li> {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ details['price'] }}
                         =${{ details['quantity'] * details['price'] }}
                        <a href="{{ url_for('remove_from_cart', item=item) }}"> [Remove]</a>
                    </li>
                {% endfor %}
             </ul>
        {% else %}
            <p>Your cart is empty</p>
        {% endif %}
</body>
</html>     