{% extends "base.html" %}

{% block title %} Home - Flower Shop{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
</head>
<body>
    <main>
        <!-- Flower option form -->
        <h1 id="mainhead"> Displaying JSON flower data</h1>
        <form action="{{ url_for('add_to_cart')}}" method="POST"    >
            <fieldset>
                <legend for="flower"> Select Flowers</legend>
                <select name="flower" id="flower">
                    {% for flower, details in flowers.items() %}
                    <option value="{{ flower }}">{{ flower }} - $ {{ details['price'] }} </option>
                    {% endfor %}
                </select>
                <label for="quantity"> Quantity </label>
                <input type="number" name="quantity" value="1" min="1">
                
                 <Legend>Add-ons</Legend>
                {% for addon, data in addons.items() %}
                    <label>
                        <input type="checkbox" name="addons" value="{{ addon }}">
                        {{ addon }} (${{ data.price }})
                    </label><br>
                {% endfor %}
                <button type="submit" id="submit">Add to cart</button>
                <button type="submit" formaction="{{ url_for('cancel_order') }}" id="submit" method="post">Cancel Order</button>

            </fieldset>
        </form>

        <!-- Addon form -->
        <form action="{{ url_for('select_addon') }}" method="post" class="maintext">
            <fieldset>
            </fieldset>
        </form>
        
    

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h2> Your Cart</h2 id="maintext">
        {% if cart %}
            <ul class="maintext">
                <!-- flower flash message -->
                {% for item, details in cart.items() %}
                    <li> {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ details['price'] }}
                         =${{ details['quantity'] * details['price'] }}
                        <a href="{{ url_for('remove_from_cart', item=item) }}"> [Remove]</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Your cart is empty</p>
        {% endif %}

        {% if selected_addons %}
            <!-- addon flash message -->
            <ul class="maintext">
                {% for addon, details in selected_addons.items() %}
                    <li> {{ addon }} (${{ '%.2f' % details }}) </li>
                {% endfor %}
            </ul>
            {% else %}
                <p> No Addon Selected</p>
        {% endif %}

        <h2 id="total">Total: ${{ '%.2f' % total }}</h2>
        <br>
    </main>
</body>
</html>     
{% endblock %}