{% extends "base.html" %}

{% block title %} Home - Flower Shop{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
</head>
<body>
    <header>
        <h1 id="mainhead">Invoice</h1>
    </header>
    <main class="Invoice">
        <body>
            <p> Thank you for your order {{ customer_name }}</p>
            <br>
            <p> Your Invoice Number is {{ invoice_name }}</p>
            <br>
            <p> Your order includes: </p>
                <h4> Flowers: </h4>
                <ul>
                    {% for item, details in cart.items() %}
                    <li> {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ details['price'] }}
                            =${{ details['quantity'] * details['price'] }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <h4> Add-ons: </h4>
                <ul class="maintext">
                    {% for addon, details in selected_addons.items() %}
                        <li> {{ addon }} (${{ '%.2f' % details }}) </li>
                    {% endfor %}
                </ul>
            <br>
            <p> Your total is $ {{ total }}</p>
            <br>
            <p> Invoice Date: {{ invoice_date }}</p>
        </body>
        <br>
        <a href="{{ url_for('index') }}" id="return">Back to shop</a>
    </main>
</body>
</html>

{% endblock %}