{% extends "base.html" %}

{% block title %} Home - Flower Shop{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
</head>
<body>
    <header>
        <h1 id="mainhead">Invoices</h1>
    </header>
    <main>
        <h2 id="mainhead">Invoice</h2>
        <p> This page will show the customer invoice after checkout </p>
    </main>
</body>
</html>

{% endblock %}